<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.likermob.app"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Likermob</name>
 
    <description>
       Save on things you like!
    </description>
 
    <author href="http://www.likermob.com" email="jadman02@hotmail.com">
        Jarrod Dean
    </author>
 
<access origin="http://smilesavers.net.au"/>
 
 

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
 <gap:platform name="ios" />
 <preference name="orientation" value="portrait" />
 
 <preference name="DisallowOverscroll" value="true" />
 
</widget>